 .swatchesContainer{
    width: 112px;
    position: absolute;
    border-radius: 15px;
    background-color: white;
    bottom: 50px;
    padding: 3px;
    padding-bottom: 2px;
    z-index: 9999;
    display: none;
 }

 .swatchesContainer .color{
    float: left;
    width: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
    height: 20px;
 }

 input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 20px;
    height: 20px;
    border-radius: 10px;
}

input[type="color"]:active,input[type="color"]:focus{
    outline: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 15px;
}

.div-color-picker{
    clear: both;
    float: left;
    width: 100%;
}

.div-color-picker input::after{
    content: "Pick other colors";
    display: inline-block;
    position: absolute;
    left: 32px;
    bottom: 9px;
    font-family: apercu pro;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    cursor: pointer;
}

